* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'din-bold';
    src: url(../Fonts/din-bold.ttf);
}

@font-face {
    font-family: 'din-medium';
    src: url(../Fonts/din-midium.ttf);
}

@font-face {
    font-family: 'Pigumo';
    src: url(../Fonts/Pigmo-00.otf);
}

@font-face {
    font-family: 'Kozuka';
    src: url(../Fonts/KozGoPr6N-Regular.otf);
}

div {
    display: block;
}



body {
    widows: 100%;
    background: #000;
}


.container {
    width: 1024px;
    height: 100vh;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

#menu {
    overflow: hidden;
    background: none;
    padding: 6px 10px;
    position: fixed;
    z-index: 2;
}

nav {
    list-style: none;
}

nav li {
    width: 70px;
    text-align: left;
    list-style-type: none;
    margin-top: 2px;
}

nav a {
    font-size: 16px;
    font-family: Kozuka;
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

nav a:hover {
    border-bottom: 2px solid #000;
}

.section {
    
}

#section1 {
    background-color: #5ba4cf;
    padding: 20px;
}

.p1 {
    
}
